html, body {
    height: 100%;
    line-height: 1.15;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(51, 51, 51);
    text-align: center;
    padding: 2em 1em;
}

.sidebar .author-name {
    margin-top: 1em;
    color: #c8c8c8;
    font-weight: bolder;
    font-size: 1.4em;
    width: 100%;
}

.sidebar .author-name:hover {
    text-decoration: none;
    color: #d8d8d8;
}

.sidebar .author-bio {
    line-height: 1.15;
    font-size: 0.8em;
    text-align: right;
    margin: 1em 0.75em;
}

.sidebar-wrapper {
    margin-top: 50vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
}

.static-links {
    width: 100%;
    font-size: 0.75em;
}

.static-links a {
    color: #f8f8f8;
    text-transform: uppercase;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list .nav-item {
    display: inline-block;
}

.wrapper {
    background-color: #222;
    color: #c8c8c8;
    min-height: 100%;
    padding-top: 1em;
}

.content {
    padding: 2em;
}

h1 {
    font-weight: bold;
}

body {
    font-family: 'Share Tech Mono', Monospace, Courier;
    font-weight: normal;
    font-size: 1.15em;
}

hr {
    border-top: 1px solid rgba(255,255,255,.25);
}

.cover-img {
    width: 100%;
    height: 300px;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

a.link-to-category {
    color: #c8c8c8;
    text-transform: uppercase;
}

a.link-to-category:hover {
    text-decoration: none;
}

.content h2 {
    margin: 0.5em 0 0.5em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
}

.content h3 {
    margin: 0.25em 0 0.25em;
    position: relative;
    font-weight: bold;
}

.content img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.post-image-feature {
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 0.25em auto;
    border-radius: 0.25em;
}

.post-image-feature > .front-img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 100%;
    min-width: 100%;
    transform: translate(-50%, -50%);
}

.post .header {
    width: 100%;
}

.post-title {
    color: #c8c8c8;
    font-weight: bold;
}

.post-title:hover {
    text-decoration: none;
    color: #d8d8d8;
}

.post-meta {
    margin-bottom: 0;
    font-size: 85%;
}

.post-meta a {
    color: #c8c8c8;
}

.post-meta a:hover {
    text-decoration: none;
    color: #d8d8d8;
}

.post-read-more {
    color: #c8c8c8;
    font-weight: bold;
    display: inline;
}

.post-read-more:hover {
    color: #d8d8d8;
    text-decoration: none;
}

.post-description p {
    margin-bottom: 0.25em;
}

.content a {
    font-weight: bold;
    color: #c8c8c8;
}

.content a:hover {
    color: #d8d8d8;
    text-decoration: none;
}