ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline-block;
}

.about {
  background: #272727;
  color: #eee;
  text-align: center;
  min-height: 30em;
}

@media (min-width: 768px) {
  .about .container-fluid {
    position: absolute;
    top: 25%;
    left: 0;
  }
}
@media (max-width: 768px) {
  .about .container-fluid {
    position: absolute;
    top: 15%;
    left: 0;
  }
}

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

.nav-item-separator {
  letter-spacing: -0.35rem;
  margin-right: 0.4rem;
}

.main {
  min-height: 100vh;
  background-color: #eee;
}

.social {
  font-size: 2em;
}

.post {
  margin-top: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid #a0a0a0;
}

.post:last-child {
  border-bottom: none;
}

.post .img-wrapper {
  text-align: center;
}

.post img {
  vertical-align: middle;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 0.5em;
}
